body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(146, 146, 146);
    color: black;
    padding: 2opx;
    margin: 0;

}

h1{
    text-align: center;
    color: rgb(110, 87, 131);
}

form{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(51, 50, 49);
}

form label{
    display: block;
    margin-bottom: 5px;
    color: black;
}

from legend{
    padding: 0 10px;
    font-weight: bold;
    color: black;
}

form input[type="text"]
form input[type="email"]
form input[type="password"]
form input[type="number"]
form input[type="date"]
form input[type="url"]
form select,
form textarea{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form input[type="radio"],
form input[type="checkbox"]{
    margin-right: 10px;
}
form button{
    cursor: pointer;
    background-color: blueviolet;
    color: #ddd;
    border: #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}
form button:hover{
    background-color: black;
}